[Desktop Entry]
Type=Application
Name=Magboltz GUI
Comment=GUI for Magboltz
Exec=magboltz-gui
TryExec=magboltz-gui
Icon=magboltz-gui
Categories=Science;Utility;
StartupWMClass=magboltz-gui
Terminal=false
StartupNotify=true
